#!/usr/bin/env xdg-open
[Desktop Entry]
Name=ᶜ
Exec=/usr/bin/xdotool key ctrl+space
Encoding=UTF-8
Type=Application
Icon=goa-account-symbolic
StartupWMClass=xdotool
